{% extends 'homepage/base.html'%}
{% load static %}
{% block title %}
    welcome to yeretrade

{% endblock %}
{% block crumbs %}
licence
{% endblock %}
{% block content %}


    <!-- team section start -->
    <section class="pt-120 pb-120 bg_img" data-background="assets/images/bg/bg-5.jpg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-header">
              <h2 class="section-title"><span class="font-weight-normal">Our Expert</span> <b class="base--color">PROFESSIONAL LICENCES </b></h2>
              <p>yere trade has been a revolutionary company and reliable firm since 2016 till date </p>
            </div>
          </div>
        </div><!-- row end -->
        <div class="row justify-content-center mb-none-30">
          <div class="col-xl-6 col-lg-6 col-sm-12 mb-30">
            <div class="team-card">
              <div class="team-card__thumb">
                <img src="{% static 'homepage/assets/doc1.jpg' %}" alt="image">
              </div>
            </div><!-- team-card end -->
          </div>
          <div class="col-xl-6 col-lg-6 col-sm-12 mb-30">
            <div class="team-card">
              <div class="team-card__thumb">
                <img src="{% static 'homepage/assets/doc2.jpg' %}" alt="image">
              </div>
            </div><!-- team-card end -->
          </div>
          <div class="col-xl-6 col-lg-6 col-sm-12 mb-30">
            <div class="team-card">
              <div class="team-card__thumb">
                <img src="{% static 'homepage/assets/doc3.jpg' %}" alt="image">
              </div>
            </div><!-- team-card end -->
          </div>
          <div class="col-xl-6 col-lg-6 col-sm-12 mb-30">
            <div class="team-card">
              <div class="team-card__thumb">
                <img src="{% static 'homepage/assets/doc4.jpg' %}" alt="image">
              </div>
            </div><!-- team-card end -->
          </div>
          <div class="col-xl-6 col-lg-6 col-sm-12 mb-30">
            <div class="team-card">
              <div class="team-card__thumb">
                <img src="{% static 'homepage/assets/doc5.jpg' %}" alt="image">
              </div>
            </div><!-- team-card end -->
          </div>
          <div class="col-xl-6 col-lg-6 col-sm-12 mb-30">
            <div class="team-card">
              <div class="team-card__thumb">
                <img src="{% static 'homepage/assets/doc.jpg' %}" alt="image">
              </div>
            </div><!-- team-card end -->
          </div>
          <div class="col-xl-6 col-lg-6 col-sm-12 mb-30">
            <div class="team-card">
              <div class="team-card__thumb">
                <img src="{% static 'homepage/assets/doc7.jpg' %}" alt="image">
              </div>
            </div><!-- team-card end -->
          </div>
                      <div class="col-xl-6 col-lg-6 col-sm-12 mb-30">
            <div class="team-card">
              <div class="team-card__thumb">
                <img src="{% static 'homepage/assets/doc8.jpg' %}" alt="image">
              </div>
            </div><!-- team-card end -->
          </div>
          <div class="col-xl-6 col-lg-6 col-sm-12 mb-30">
            <div class="team-card">
              <div class="team-card__thumb">
                <img src="{% static 'homepage/assets/doc9.jpg' %}" alt="image">
              </div>
            </div><!-- team-card end -->
          </div>

        </div>
      </div>
    </section>
    <!-- team section end -->





{% endblock %}
