
{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}


{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}



{% block content %}
    <div class="account-section bg_img" data-background="assets/images/bg/bg-5.jpg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-7">
            <div class="account-card">
              <div class="account-card__header bg_img overlay--one" data-background="assets/images/bg/bg-6.jpg">
                <h4 class="section-title">Welcome to <span class="base--color">YereTrade</span></h4>
                <p>verification is sent to your mail</p>
              </div>
              <div class="account-card__body">








    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>







              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

